body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.tabs-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

.tabs {
    display: flex;
}

.tab {
    padding: 10px 20px;
    background-color: #444;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab.active {
    background-color: #555;
}

.close-tab {
    margin-left: 5px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

#new-tab-btn {
    margin-left: auto;
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#new-tab-btn:hover {
    background-color: #181bbb;
}

.content {
    margin-top: 10px;
}

.iframe {
    width: 100%;
    height: calc(100vh - 80px);
    border: none;
    display: none;
}

.iframe.active {
    display: block;
}
